
:root {
    --body-width: calc(100vw - var(--scroll-size));
    --viewbox-width: 50vw;
    --content-margin: 4rem;
    --content-padding-top: 6rem;
    --content-padding: 2rem;
    --article-margin: 2rem 0px;
    --article-padding: 1.75rem;
    --line-height: 2;
    --background-color: white;
    --color-red: #ff0095;
    --color-green: #00ffc8;
    --box-color: #ededed;
    --border-color: #ededed;
    --text-color: black;
    --text-unfocused-color: #888888;
    --mark-color: white;
    --header-height: 4.5rem;
    --scroll-size: 1.5rem;
    --scroll-color: #00000021;
}

*::-webkit-scrollbar {
    z-index: 999;
    width: var(--scroll-size);
    height: var(--scroll-size);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    background-clip: padding-box;
    border: calc(var(--scroll-size) / 3) solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px transparent;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    transition-property: background-color, color;
    transition-duration: .5s;
}

body {
    width: var(--body-width);
    height: 100%;
    font-family: 'Open Sans', 'Pretendard';
    line-height: var(--line-height);
    display: flex;
    justify-content: center;
}
