
div[data-custom-flex] {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

span[data-custom-docbox] {
    font-family: 'Outfit';
    font-weight: bolder;
    font-size: 1.25rem;
    background-color: transparent;
    border: 4px solid var(--text-color);
    border-radius: 8px;
    padding: 1rem .75rem;
    user-select: none;
    cursor: pointer;
    margin: 0rem .5rem;
}

span[data-custom-docbox].language.js {
    background-color: rgb(255, 221, 0);
    border-color: rgb(255, 221, 0);
    color: black;
}

span[data-custom-docbox].language.python {
    background-color: rgb(68, 96, 255);
    border-color: rgb(68, 96, 255);
    color: rgb(255, 221, 0);
}

span[data-custom-docbox].language.java {
    background-color: rgb(237, 139, 0);
    border-color: rgb(237, 139, 0);
    color: white;
}

span[data-custom-docbox].language.kotlin {
    border: 4px solid transparent;
    background-image: linear-gradient(transparent, transparent), linear-gradient(135deg, rgb(255, 128, 0), rgb(37, 128, 255), rgb(88, 88, 255));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: white;
}

span[data-custom-docbox].language.c {
    background-color: rgb(63, 110, 160);
    border-color: rgb(63, 110, 160);
    color: white;
}

span[data-custom-docbox].language.cpp {
    background-color: rgb(25, 66, 109);
    border-color: rgb(25, 66, 109);
    color: white;
}

span[data-custom-docbox].language.csharp {
    background-color: rgb(105, 41, 208);
    border-color: rgb(105, 41, 208);
    color: white;
}

span[data-custom-docbox].language.go {
    background-color: rgb(1, 173, 216);
    border-color: rgb(1, 173, 216);
    color: white;
}

span[data-custom-docbox].language.rust {
    background-color: var(--text-color);
    border-color: var(--text-color);
    color: var(--background-color);
}

@media screen and (max-width: 767px) {
    span[data-custom-docbox] {
        font-family: 'Outfit';
        font-weight: bolder;
        font-size: 1rem;
        background-color: transparent;
        border: 4px solid var(--text-color);
        border-radius: 4px;
        padding: .75rem .5rem;
        user-select: none;
        cursor: pointer;
        margin: 0rem .5rem;
    }
}
