
:root {
    --body-width: 100vw;
    --content-padding: 1.75rem;
    --content-padding-top: 7.25rem !important;
    --article-padding: 1rem !important;
    --sidebtn-size: 1rem;
    --sidebar-height: calc(var(--content-padding) * 2 + var(--sidebtn-size));
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: auto;
}

body {
    flex-direction: column-reverse;
}

header {
    display: block !important;
    position: fixed !important;
    left: 0 !important;
    top: calc(100% - 2.5rem - var(--content-padding) * 2);
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: var(--content-padding);
    text-align: right;
}

button#theme {
    width: 2.5rem;
    height: 2.5rem;
    background-size: 1.5rem 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
}

img#icon {
    display: none;
}

aside, main {
    padding: var(--content-padding);
}

aside {
    top: 0px;
    left: 0px;
    margin: 0;
    min-width: var(--sidebar-height);
    width: 100vw;
    height: auto;
    max-height: 60vh;
    overflow: auto;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--box-color);
}

button#sidebtn {
    display: block;
    background-color: var(--background-color);
    background-image: url(../img/list_icon.svg);
    background-size: var(--sidebtn-size) var(--sidebtn-size);
    background-repeat: no-repeat;
    width: 100vw;
    height: var(--sidebar-height);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--content-padding);
}

aside > ul {
    display: none;
    margin-top: 2rem;
}

aside > ul:first-child {
    margin-top: var(--sidebar-height);
}

aside h3 {
    font-size: 1.125rem;
}

aside .list-el {
    font-size: .875rem;
}

main {
    width: 100vw;
    padding-top: calc(var(--content-padding) * 2);
    font-size: .875rem;
    margin-top: var(--sidebar-height);
}

main article {
    padding-left: 0;
}

div.con.small {
    margin-left: 0;
}

main h1 {
    font-size: 1.25rem;
}

.small h1 {
    font-size: 1rem;
}

code {
    --codebox-padding: 1rem;
}

code, code * {
    font-size: .75rem;
}
